#box{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
#box1{
flex:1;
flex-basis: 45%;
order:1;
background-color: lightblue;
outline: solid black 1px;
padding:2.5%;
}
#box2{
flex:1;
flex-basis: 45%;
order:3;
background-color: lightcyan;
outline: solid black 1px;
padding:2.5%;
}
#box3{
flex:1;
flex-basis: 45%;
order:2;
background-color: lightgrey;
outline: solid black 1px;
padding:2.5%;
}
#box4{
flex:1;
flex-basis: 45%;
order:4;
background-color: lightpink;
outline: solid black 1px;
padding:2.5%;
}